body {
  height: 100vh;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231105/pngtree-heavenly-pink-clouds-a-textured-sky-background-image_13804545.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 5px solid white;
  padding: 50px;
  border-radius: 15px;
  background-color: #8e8e8e;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.imgBtn {
  width: 45px;
  padding: 5px;
  margin: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.weatherBtn {
  padding: 5px;
  margin: 2px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
      width: 250px;
      min-width: 250px;
      height: 400px;
      margin: 10px;
  }

}

@media (max-width: 480px) {
  .container {
      width: 170px;
      min-width: 170px;
      height: 300px;
      margin: 10px;
  }


}