body {
  background: url(https://img.pikbest.com/wp/202347/weather-forecast-app-3d-illustration-of-icons-depicting-sun-and-clouds-ideal-for-design-web-with-blue-background_9761677.jpg!bw700);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 20px;
  background-color: bisque;
}

@media (max-width: 768px) {
  .container {
      width: 250px;
      min-width: 250px;
      height: 400px;
      margin: 10px;
  }

}

@media (max-width: 480px) {
  .container {
      width: 170px;
      min-width: 170px;
      height: 300px;
      margin: 10px;
  }


}