body {
  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 20px;
  background-color: bisque;
}

@media (max-width: 768px) {
  .container {
      width: 250px;
      min-width: 250px;
      height: 400px;
      margin: 10px;
  }

}

@media (max-width: 480px) {
  .container {
      width: 170px;
      min-width: 170px;
      height: 300px;
      margin: 10px;
  }


}